node_modules
.env

# Hardhat files
/cache
/cache-zk
/artifacts
/artifacts-zk

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# deployments
/.upgradable
/log